@font-face {
    font-family: 'Circular';
    src: url('./circular.eot'); /* IE9 Compat Modes */
    src: url('./circular.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./circular.woff') format('woff'); /* Pretty Modern Browsers */
}
