.Main-header {
    height: 150px;
    padding: 20px;
    background: #F4F4F4;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
    position: relative;
}

.Header-title {
    color: #5C5C5C;
}

.Header-logo {
    height: 60px;
}