/*

COLORS
-------

PRIMARY:
- Pink: #ea1e79;

GRAYS:
- Dark: #5c5c5c;
- Medium: #7e7e7e;
- Light: #b8b8b8;

Background: #f4f4f4

Error/Failure: #e11c24;
Success: #1ed076;

Star Rating: #ffb400;
Virtual Fundraiser: #299d95;
Local Fundraiser: #ff9442;
Special Calendar Item: #ed65a2;
Venue Type: #644b87;

 */